.main-header__logo {
	max-width: 142px;
	margin-bottom: 40px;
}

@media screen and (max-width: 1025px) {
	.main-header__logo {
		margin-left: 8px;
	}
}

@media screen and (max-width: 769px) {
	.main-header__logo {
		max-width: 103px;
		margin-left: 25px;
	}
}
