.profile__description {

}

@media screen and (max-width: 769px) {
	.profile__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 36px;
		text-align: center;
	}
}
