.popup__button-close {
	position: absolute;
	top: -50px;
	right: -50px;
	width: 58px;
	height: 58px;
	padding: 0;
	color: #fff;
	background-color: transparent;
	background-image: url(../../../img/close-icon.svg);
	border: none;
	outline: none;
	cursor: pointer;
}

.popup__button-close:hover,
.popup__button-close:focus {
	opacity: .6;
}

@media screen and (max-width: 769px) {
	.popup__button-close {
		top: -45px;
		right: 0;	
		width: 30px;
		height: 30px;
		background-image: url(../../../img/Close-Icon-small.svg);
		}
}


