.profile__button_type_add {
	width: 150px;
	height: 50px;
	border: 2px solid #fff;
	margin-left: auto;
	background-image: url(../../../../img/plus.svg);
	background-size: 22px;
	border-radius: 2px;
}

@media screen and (max-width: 769px) {
	.profile__button_type_add {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 100px * 2);
		margin:0 auto;
		background-size: 16px;
	}
}


@media screen and (max-width: 426px) {
	.profile__button_type_add {
		width: calc(100% - 19px * 2);
	}
}

